body {
    font-family: 'Bai Jamjuree', sans-serif;
}
div {
    font-size: 1.5rem;
}
.card {
    background-color: antiquewhite;
    border-radius: 5px;
    border-color: brown;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(206, 176, 176, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:hover {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.25rem;
}