 h1, h2  {
            color: blue;
            text-align: center;
        }
        div {
            background-color: lightgray;
            padding: 10px;
            border-radius: 5px;
        }
        p {
            font-size: 16px;
            color: rgb(160, 14, 197);
            background-color: rgb(77, 195, 224);
            line-height: 1.5;
        }
        #div1 {
            background-color: rgb(190, 185, 102);
            padding: 20px;
            border: 2px solid rgb(0, 0, 0);
        }
        #div2 {
            background-color: rgb(96, 90, 180);
            padding: 20px;
            border: 2px solid rgb(0, 0, 0);
        }
        .div-class {
            background-color: rgb(139, 219, 195);
            padding: 20px;
            border: 2px solid rgb(0, 0, 0);
        }
        h1, #div1, #div2, .div-class {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: 20px;
        }
        a:hover {
            color: red;
            text-decoration: underline;
        }
        a:visited {
            color: rgb(173, 100, 173);
        }
